@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

:root {
    --primary: #E3C3FA;
    --secondary: #BAF7F1;
    --black: #000;
    --white: #fff;
}
header {
        display: flex;
        align-items: center;
        background-color: var(--primary);
        padding: 10px 20px;
        justify-content: flex-start;
      }
header img {
    height: 3rem;
    margin: 0.5rem;
}

header nav {
    display: flex;
    gap: 1rem;
    margin-left: 2rem;
}
header nav a {
    text-decoration: none;
    color: var(--black);
    padding: 0.5rem;
}

header .botao{
    margin-left: auto;
    text-decoration: none;
    color: var(--black);
    background-color: var(--secondary);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-weight: normal;
}
header .botao:active{
    font-weight: bold;
}

main {
    min-height: calc(100vh - 7.6rem);
    margin: 0 auto;
}
main#index section {
    flex: 1 1 30%;
    background-color: var(--secondary);
    border: 0.2rem solid var(--secondary);
    border-radius: 0.5rem;
    margin-top: 5rem;
    max-width: 800px;
    margin: 2rem auto 0;
}
main#index section p {
    line-height: 1.8; 
    margin-bottom: 1rem;
  }
.fotos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
    margin-top: 4rem;
  }
  
.fotos img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  }
  main#hospedagens section,main#passeios section {
    display: grid;
    gap: 2rem;
    padding: 0 2rem;
    margin-top: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    align-items: stretch;
  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 0 10px black;
    width: 100%;
    max-width: 100%;
    min-height: 580px; 
  }
  
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 1rem;
  }
  
  .card h3 {
    text-align: center;
    margin-top: 1rem;
    min-height: 60px; 
  }
  
  .card p {
    line-height: 1.6;
    border: 2px solid var(--black);
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    text-align: center;
    flex-grow: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  main#login {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7rem;
  }
  
  main#login section {
      background: var(--secondary);
      padding: 2rem;
      border: 1px solid black;
      border-radius: 15px;
      width: 90%;
      max-width: 600px;
      height: auto; 
      text-align: center;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    }

    main#login section div{ 
      display: flex;
      justify-content: center;
      gap: 1.5rem;
      margin-top: 2rem;
    }
   main#login button:hover,main#cadastro button:hover,main#avaliacoes button:hover {
      background: #d4a7f2;
    }
        
    main#login h2,main#cadastro h2,main#avaliacoes h2 {
      margin-bottom: 2rem;

  }
  main#cadastro {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 7rem;
  }
  
  main#cadastro section {
      background: var(--secondary);
      padding: 3rem 2rem; 
      border: 1px solid black;
      border-radius: 15px;
      width: 90%;
      max-width: 600px;  
      height: auto;     
      text-align: center;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); 
    
  }
  main#avaliacoes {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7rem; 
  }
  
  main#avaliacoes section {
    background: var(--secondary);
    padding: 3rem 2rem;
    border: 1px solid black;
    border-radius: 15px;
    width: 90%;
    max-width: 600px;
    height: auto;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); 
  }
  .input-group textarea {
    border: none;
    outline: none;
    flex: 1;
    background: transparent;
    font-size: 1rem;
    width: 100%;
    resize: none;
  }
  
  .input-group {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    padding: 0.5rem;
    margin: 1rem 0;
    gap: 0.5rem;
  }
  
  .input-group img {
    height: 24px;
    width: 24px;
  }
  
  .input-group input {
    border: none;
    outline: none;
    flex: 1;
    background: transparent;
    font-size: 1rem;
  }
  
  main#login button,main#cadastro button {
    background: var(--primary);
    border: none;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 20px;
    cursor: pointer;
  }
  main#avaliacoes button {
    background: var(--primary);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    transition: 0.3s ease;
  }
footer {
    background-color: var(--primary);
    display: flex;
    align-items: center;
    height: 3rem;
    margin-top: 0.3rem;
}
footer img {
    width: 20px; 
    height: 20px;
  }