@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

:root {
    --primary: #E3C3FA;
    --secondary: #BAF7F1;
    --black: #000;
    --white: #fff;
}

header {
        display: flex;
        align-items: center;
        background-color: var(--primary);
        padding: 10px 20px;
      }
      

header img {
    height: 3rem;
    margin: 0.5rem;
}

header nav {
    display: flex;
    gap: 1rem;
    margin-left: 2rem;
}
header nav a {
    text-decoration: none;
    color: var(--black);
    padding: 0.5rem;
}

header .login {
    margin-left: auto;
    text-decoration: none;
    color: var(--black);
    background-color: var(--secondary);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}
main {
    min-height: calc(100vh - 7.6rem);
    max-width: 1040px;
    margin: 0 auto;
}
main#index section {
    flex: 1 1 30%;
    background-color: var(--secondary);
    border: 0.2rem solid var(--secondary);
    border-radius: 0.5rem;
    margin-top: 2rem;
}
main#index section p {
    line-height: 1.8; 
    margin-bottom: 1rem;
  }
.fotos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 4rem;
  }
  
.fotos img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
  }
  main#hospedagens section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0 2rem;
    margin-top: 2rem;
  }
  
  .card {
    background-color: var(--white);
    border-radius: 1rem;
    width: 30%;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }
  
  .card h3 {
    font-size: 1.1rem;
    margin-bottom: 0.8rem;
  }
  
  .card p {
    line-height: 1.6;
    border: 2px solid var(--black);
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 0.5rem;
  }
  main#passeios section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0 2rem;
    margin-top: 2rem;
  }
  main#login {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7rem;
  }
  
  main#login section {
        background: var(--secondary);
        padding: 2rem;
        border: 1px solid black;
        border-radius: 15px;
        width: 90%;
        max-width: 600px;
        height: auto; 
        text-align: center;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    }

    main#login section > div:last-of-type {
      display: flex;
      justify-content: center;
      gap: 1.5rem;
      margin-top: 2rem;
    }
    main#login button {
      background: var(--primary);
      border: none;
      padding: 0.7rem 2rem;
      margin: 0;
      border-radius: 20px;
      font-size: 1rem;
      cursor: pointer;
      transition: 0.3s;
    }
    
    main#login button:hover {
      background: #d4a7f2;
    }
        
  main#login h2 {
    margin-bottom: 2rem;
  }
  main#cadastro {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 7rem;
  }
  
  main#cadastro section {
      background: var(--secondary);
      padding: 3rem 2rem; 
      border: 1px solid black;
      border-radius: 15px;
      width: 90%;
      max-width: 600px;  
      height: auto;     
      text-align: center;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); 
    
  }
  
  main#cadastro h2 {
    margin-bottom: 1.5rem;
  }

  main#avaliacoes {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7rem; 
  }
  
  main#avaliacoes section {
    background: var(--secondary);
    padding: 3rem 2rem;
    border: 1px solid black;
    border-radius: 15px;
    width: 90%;
    max-width: 600px;
    height: auto;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); 
  }
  
  
  main#avaliacoes h2 {
    margin-bottom: 1.5rem;
  }
  .input-group textarea {
    border: none;
    outline: none;
    flex: 1;
    background: transparent;
    font-size: 1rem;
    width: 100%;
    resize: none;
  }
  
  .input-group {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    padding: 0.5rem;
    margin: 1rem 0;
    gap: 0.5rem;
  }
  
  .input-group img {
    height: 24px;
    width: 24px;
  }
  
  .input-group input {
    border: none;
    outline: none;
    flex: 1;
    background: transparent;
    font-size: 1rem;
  }
  
  main#login button {
    background: var(--primary);
    border: none;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 20px;
    cursor: pointer;
  }

  main#cadastro button {
    background: var(--primary);
    border: none;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 20px;
    cursor: pointer;
  }
  
  main#avaliacoes button {
    background: var(--primary);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  main#avaliacoes button:hover {
    background-color: #d4a7f2;
  }

  
footer {
    background-color: var(--primary);
    display: flex;
    align-items: center;
    height: 3rem;
    margin-top: 0.3rem;
}
footer img {
    width: 20px; 
    height: 20px;
  }